body {
    font-family: Arial, sans-serif;
}

a
h1 {
    color: #272044;
    font-size: 36px;
    margin-top: 20%;
    line-height: 1.5;
    font-weight: 800;
    text-align: center;
}
.container {
    max-width: 600px;
    margin: 120px auto; 
}
header {
    margin-bottom: 30px;
}

form {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    margin-bottom: 30px;

}


.instructions {
    padding: 16px;
    border: 1px solid rgba(39, 33, 66, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
    color: #272044;
}
.submit-button {
    background-color: #885df1;
    color: #fff;
    border: none;
    padding: 14px 25px;
    border-radius: 50px;
    margin-left: 10px;
    font-size: 16px; 
    width: 150px;
}
.poem {
    background-color: #fff;
    padding: 20px;
    border-left: 3px solid #885df1;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    line-height: 24px;
    font-size: 16px;
}
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}